/* Variables */

:root {
  --basic-red: #fb565a;
  --basic-darker-red: #e74246;
  --basic-extra-red: #d7373b;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-green: #00ca74;
  --basic-darker-green: #00bc6c;
  --basic-extra-green: #00aa62;
  --basic-yellow: #efc84a;
  --basic-darker-yellow: #eab534;
  --basic-extra-yellow: #e5a722;
  --social-button: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
  --social-button-hover: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
  --social-button-click: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
  --social-button-click-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  --basic-grey: #eeeeee;
  --basic-darker-grey: #dfdfdf;
  --basic-extra-gray: #d5d5d5;
  --basic-extra-gray-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  --basic-light-grey: #d7dcde;
  --basic-lighter-grey: #444444;
  --window-rest: #4d4d4d;
  --window-rest-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --modal-subtitle: #666666;
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.main-nav {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: min-content auto min-content;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header-logo {
  width: 160px;
}

.site-nav {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  padding: 0;
}

.basket {
  justify-self: right;
}

.site-nav-link a,
.basket {
  color: inherit;
}

/* Main */

.top-block {
  background-color: var(--basic-grey);
  list-style: none;
}

.features {
  background-color: var(--basic-grey);
}

.features-slider {
  padding: 0;
  width: 1160px;
  padding: 0 20px;
  justify-self: center;
  margin: 0 auto;
}

.feature-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
}

.first-slide {
  display: block;
}

.feature-button {
  color: var(--basic-white);
  display: block;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  background-color: var(--basic-red);
  text-transform: uppercase;
  width: 240px;
  margin-bottom: 30px;
}

/* Making-offer */

.offer-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  justify-content: start;
  width: 1157px;
  list-style: none;
  margin: 0 auto;
  padding: 0 20px;
}

.offer-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

.offer-button {
  display: block;
  width: 160px;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  padding: 15px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

/* About us */
.line {
  background-color: var(--basic-grey);
  width: 1160px;
  height: 1px;
  margin: auto;
}

.about-all-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.why-we-wrapper {
  justify-self: end;
}

.about-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-offer,
.why-we {
  font-weight: 700;
  text-transform: uppercase;
}

.about-offer-list {
  list-style: none;
}

.why-we-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.about-percents {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.about-percents-explanation {
  line-height: 18px;
}

/* Company */
.company-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

/* Contacts */
.maps {
  position: relative;
  margin: 0 auto;
  height: 416px;
}

.map {
  width: 100%;
  border: 0;
  z-index: 1;
  position: relative;
}

.map-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 416px;
  z-index: -2;
}

.name-nerds {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 50px;
}

.address-nerds {
  line-height: 18px;
  font-style: normal;
}

.phone-number {
  color: var(--basic-black);
}

.button-contacts {
  display: block;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  text-align: center;
  width: 219px;
  padding: 15px;
}

/* Social */

.social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1157px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.social-slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  order: 1;
  margin: 10px 0;
}

.social-button {
  color: var(--basic-black);
}

.promo-text {
  line-height: 22px;
  order: 1;
  grid-column-start: 2;
  margin: 0;
}

/* Popup */

.title-sending {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.input {
  font-weight: 700;
  line-height: 18px;
}

.send-button {
  display: block;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  width: 259px;
  padding: 15px;
  text-align: center;
}

/* Catalog */

.main-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  display: block;
  text-align: center;
  margin-top: 0;
  padding-bottom: 100px;
  background-color: var(--basic-grey);
}

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 760px;
  margin: 0 auto;
  padding: 0;
}

.modal-title {
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.modal-subtitle {
  font-size: 16px;
  line-height: 18px;
  color: var(--modal-subtitle);
}

.modal-button {
  display: block;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  width: 200px;
  text-align: center;
  border-radius: 3px;
  padding: 15px;
  line-height: 18px;
  border: 0;
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.pagination-link {
  color: var(--basic-black);
}
