/* Variables */

:root {
  --basic-red: #fb565a;
  --basic-darker-red: #e74246;
  --basic-extra-red: #d7373b;
  --basic-white: #FFFFFF;
  --basic-white-click: rgb(100%, 100%, 100%, 0.3);
  --basic-black: #000000;
  --basic-green: #00ca74;
  --basic-darker-green: #00bc6c;
  --basic-extra-green: #00aa62;
  --basic-yellow: #EFC849;
  --basic-darker-yellow: #eab534;
  --basic-extra-yellow: #e5a722;
  --social-button: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
  --button-click: linear-gradient(0deg, #d7373b, #d7373b), #ffffff;
  --click-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  --basic-grey: #eeeeee;
  --basic-darker-grey: #dfdfdf;
  --basic-extra-gray: #d5d5d5;
  --basic-light-grey: #d7dcde;
  --basic-lighter-grey: #444444;
  --window-rest: #4d4d4d;
  --window-rest-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --modal-subtitle: #666666;
  --radio-check-btn-color: #283136;
  --pagination-border: #DBDBDB;
  --border-item: #DADADA;
  --scale-color: #d7dcde;
  --scale-color-bar: #00ca74;
  --range-control-toogle: #ababab;
  --shadow-range-control: 0 2px 1px 0 #cfcfcf;
  --price-control-input: #283136;
  --shadow-catalog-item: 0px 6px 15px rgba(0, 1, 1, 0.25);
  --header-logo-active: #A6A6A6;
  --popup-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button colors */

.btn--red {
  background-color: var(--basic-red);
}

.btn--red:hover,
.btn--red:focus {
  background-color: var(--basic-darker-red);
}

.btn--red:active {
  background-color: var(--basic-extra-red);
  color: var(--basic-white-click);
  box-shadow: var(--click-shadow);
}

.btn--green {
  background-color: var(--basic-green);
}

.btn--green:hover,
.btn--green:focus {
  background-color: var(--basic-darker-green);
}

.btn--green:active {
  background-color: var(--basic-extra-green);
  color: var(--basic-white-click);
  box-shadow: var(--click-shadow);
}

.btn--yellow {
  background-color: var(--basic-yellow);
}

.btn--yellow:hover,
.btn--yellow:focus {
  background-color: var(--basic-darker-yellow);
}

.btn--yellow:active {
  background-color: var(--basic-extra-yellow);
  color: var(--basic-white-click);
  box-shadow: var(--click-shadow);
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.main-nav {
  text-transform: uppercase;
  width: 1160px;
  margin: 0 auto;
  margin-top: 48px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.main-header-logo {
  width: 160px;
}


.main-header-logo:active path {
  fill: var(--header-logo-active);
}

.site-nav {
  list-style: none;
  justify-content: start;
  padding-top: 10px;
  padding-left: 203px;
  display: flex;
  width: 437px;
  position: relative;
}



.site-nav .site-nav-link:nth-child(-n+3) {
  margin-right: 45px;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--basic-red);
}

.site-nav-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}


.basket {
  width: 115px;
  margin-left: auto;
  padding-top: 10px;
}

.basket::before {
  content: "";
  display: inline-block;
  background-image: url(../img/basket-icon.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-bottom: -2px;
  margin-right: 25px;
}

.site-nav-link a,
.basket {
  color: inherit;
  font-weight: 500;
  line-height: 30px;
}

/* Slider */

.slider-controls {
  position: absolute;
  padding: 0;
  width: 88px;
  background-color: transparent;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  left: 50%;
  bottom: 97px;
  margin-left: -44px;

}

.slider-controls button {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}


/* Main */

.second-slide,
.third-slide {
  display: none;
}

.first-slide {
  background-image: url(../img/first-slide.svg);
  background-repeat: no-repeat;
  background-position-x: 397px;
  background-position-y: -7px;
}

.second-slide {
  background-image: url(../img/second-slide.svg);
  background-repeat: no-repeat;
  background-position-x: 397px;
  background-position-y: -7px;
}

.third-slide {
  background-image: url(../img/third-slide.svg);
  background-repeat: no-repeat;
  background-position-x: 397px;
  background-position-y: -7px;
}

.top-block {
  background-color: var(--basic-grey);
  list-style: none;
}

.features {
  background-color: var(--basic-grey);
  position: relative;
}

.features-slider {
  padding: 0;
  width: 1160px;
  padding: 0 20px;
  justify-self: center;
  margin: 0 auto;
}

.feature-item--current {
  background-image: url(../img/current-circle.svg);
  background-position: center;
  background-repeat: no-repeat;

}

.feature-item {
  min-height: 425px;
}

.feature-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  padding-top: 72px;
}


.feature-subtitle {
  padding-top: 10px;
}

.feature-button {
  color: var(--basic-white);
  display: block;
  border-radius: 3px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 240px;
  margin-bottom: 30px;
  padding: 16px 0;
  margin-top: 38px
}

.feature-button:hover,
.feature-button:focus {
  background-color: var(--basic-darker-red);
}

.feature-button:active {
  background-color: var(--basic-extra-red);
  color: var(--basic-white-click);
  box-shadow: var(--click-shadow);
}

/* Making-offer */

.offer {
  margin-top: 80px;
}

.offer-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px;
  justify-content: start;
  width: 1160px;
  list-style: none;
  margin: 0 auto;
  padding: 0 20px;
}

.offer-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  margin-top: 19px;
  margin-bottom: -2px;
}

.offer-button {
  display: block;
  line-height: 18px;
  width: 160px;
  text-transform: uppercase;
  border-radius: 3px;
  text-align: center;
  /* padding: 15px; */
  color: var(--basic-white);
  margin-top: 33px;
  padding: 16px 0;

}


/* About us */


.about::before {
  content: "";
  display: block;
  background-color: var(--basic-grey);
  width: 1160px;
  height: 2px;
  margin: 80px auto 40px auto;
}



.about-all-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-wrapper {
  width: 651px;
}

.why-we-wrapper {
  justify-self: end;
}

.about-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 33px 0;
}

.about-offer,
.why-we {
  font-weight: 700;
  text-transform: uppercase;
}

.about-offer {
  margin-top: 41px;
  margin-bottom: 23px;
}

.about-offer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-offer-item {
  margin-bottom: 25px;
}

.about-offer-item::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  margin-right: 11px;
  margin-bottom: 4px;
}

.why-we {
  margin-top: 31px;
  margin-left: 17px;
  margin-bottom: 28px;
}

.why-we-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: start;
  margin: 0;
  padding: 0;
}

.about-percents {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.percents {
  display: inline-block;
  font-size: 26px;
  line-height: 40px;
}

.about-percents-explanation {
  line-height: 18px;
  margin-top: 11px;
}

/* Company */


.company::before {
  content: "";
  display: block;
  background-color: var(--basic-grey);
  width: 1160px;
  height: 2px;
  margin: 0 auto;
  margin-top: 47px;
}

.company::after {
  content: "";
  display: block;
  background-color: var(--basic-grey);
  width: 1160px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.img-logo {
  opacity: 0.2;
}

.img-logo:hover,
.img-logo:focus {
  opacity: 1;
}

.img-logo:active {
  opacity: 0.1;
}


.company-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 35px;
  padding-top: 45px;
  padding-bottom: 38px;
}

.company-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.company-item:not(:nth-child(4))::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: -20px;
  width: 2px;
  height: 52px;
  background-color: var(--basic-grey);
}


.html-logo {
  margin-top: 15px;
}


/* Footer */

.main-footer {
  position: relative;
}

.contacts {
  background-color: white;
  width: 319px;
  position: absolute;
  padding: 0;
  top: 55px;
  left: 50%;
  margin-left: -580px;
  z-index: 2;
}

.maps {
  position: relative;
  margin: 0 auto;
  height: 416px;
}

.map {
  width: 100%;
  border: 0;
  z-index: 1;
  top: 0;
  left: 0;
}

.map-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 416px;
  z-index: -2;
}

.name-nerds {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 48px;
  margin-left: 51px;
  margin-bottom: 23px;
  text-transform: uppercase;
}

.address-nerds {
  line-height: 18px;
  font-style: normal;
  color: var(--modal-subtitle);
  margin-left: 51px;
  margin-bottom: 15px;
}

.phone-number {
  color: var(--basic-black);
  color: var(--modal-subtitle);
  margin-left: 51px;
}

.button-contacts {
  display: block;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  text-align: center;
  width: 219px;
  padding: 16px 0;
  align-self: center;
  line-height: 18px;
  margin-top: 34px;
  margin-bottom: 50px;
  margin-left: 51px;
  margin-right: 50px;
  border-radius: 3px;
}

/* Social */

.social {
  display: grid;
  grid-template-columns: 400px 1fr;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 60px;
  margin-top: 68px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
}

.social-item {
  margin-right: 9px;
}

.social-slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  order: 1;
  margin-top: 7px;
  justify-content: start;
}

.social-button {
  display: inline-block;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background: var(--social-button);
}

.social-button:hover,
.social-button:active {
  background: var(--button-click);
}

.social-button:active {
  box-shadow: var(--click-shadow);
  /* background-color: var(--basic-extra-red); */
  background: var(--button-click);
}

.social-button:active img {
  opacity: 0.3;
}


.vk-logo {
  margin-top: 33px;
  margin-left: 26px;
}


.fb-logo {
  margin-top: 31px;
  margin-left: 35px;
}



.inst-logo {
  margin-top: 30px;
  margin-left: 31px;
}


.promo-text {
  line-height: 22px;
  order: 1;
  grid-column-start: 2;
  margin: 0;
  margin-top: -29px;
}

/* Popup */

.title-sending {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.input {
  font-weight: 700;
  line-height: 18px;
}

.send-button {
  display: block;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border-radius: 3px;
  width: 259px;
  padding: 15px;
  text-align: center;
}

/* Catalog */

.current-page::after {
  content: "";
  display: inline-block;
  width: 74px;
  height: 2px;
  background-color: var(--basic-red);
  position: absolute;
  top: 54px;
  left: 433px;
}

.main-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  grid-column: 1/-1;
  text-align: center;
  margin-top: 0;
  margin-bottom: 57px;
  padding-top: 71px;
  padding-bottom: 108px;
  background-color: var(--basic-grey);
}



.container-catalog {
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 0 auto;
}

.products--container {
  display: grid;
  grid-template-columns: 260px auto;
  width: 1160px;
  margin: 0 auto;
  gap: 140px;
}


/* Filter Range */

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
}

.range-filter {
  width: 260px;
  margin-top: 44px;
}

.range-filter-title,
.radio-btn-title,
.checkbox-title,
.sort-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}


.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-grey);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale-color);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--scale-color-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-control-toogle);
  border-radius: 50%;
  box-shadow: var(--shadow-range-control);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

/* .min-price input {
  margin-left: 15px;
  padding-bottom: 10px;
  margin-top: -5px;
} */

.price-controls {
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: var(--price-control-input);
  border: none;
  border-radius: 5px;
  background: var(--basic-grey);
  font-family: inherit;
  font-size: inherit;
  margin-top: 6px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Radio box */

.radio-btn-list,
.checkbox-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.radio-btn-list {
  margin-top: 13px;
}

.radio-btn-title {
  padding-top: 55px;
}

.filter-radio-btn,
.checkbox-btn {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.radio-btn-item {
  display: flex;
  align-items: center;
}

.radio-btn-item>label {
  margin-left: 10px;
  cursor: pointer;
}

.radio-btn-item:nth-child(2) {
  margin-top: 11px;
  margin-bottom: 11px;
}

.filter-radio-btn::before {
  content: "";
  display: inline-block;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.filter-radio-btn:hover::before,
.filter-radio-btn:focus::before {
  background-image: url(../img/radio-off-hover.svg);
}

.filter-radio-btn:checked::before {
  background-image: url(../img/radio-on.svg);
}

.filter-radio-btn:checked:hover::before,
.filter-radio-btn:checked:focus::before {
  background-image: url(../img/radio-on-hover.svg);
}

.filter-radio-btn:hover,
.filter-radio-btn:focus {
  outline: none;
}

.filter-radio-btn:disabled::before {
  background-image: url(../img/radio-off-block.svg);
}

.filter-radio-btn:checked:disabled::before {
  background-image: url(../img/radio-on-block.svg);
}


.btn--text {
  font-size: 16px;
  line-height: 19px;
  color: var(--radio-check-btn-color)
}

.filter-item {
  padding: 0;
  margin: 0;
  border: 0;
}


/* Checkbox */

.checkbox-title {
  padding-top: 40px;
  padding-bottom: 12px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.checkbox-btn:before {
  content: "";
  display: inline-block;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.checkbox-btn:checked::before {
  background-image: url(../img/checkbox-on.svg);
}

.checkbox-btn:hover::before,
.checkbox-btn:focus::before {
  background-image: url(../img/checkbox-off-hover.svg);
}

.checkbox-btn:checked:hover::before,
.checkbox-btn:checked:focus::before {
  background-image: url(../img/checkbox-on-hover.svg);
}

.checkbox-btn:disabled::before {
  background-image: url(../img/checkbox-off-block.svg);
}

.checkbox-btn:checked:disabled::before {
  background-image: url(../img/checkbox-on-block.svg);
}

.checkbox-btn:hover,
.checkbox-btn:focus {
  outline: none;
}

.checkbox-btn:disabled {
  cursor: not-allowed;
}

.checkbox-btn:checked:disabled {
  cursor: not-allowed;
}

.checkbox-item>label {
  margin-left: 10px;
  cursor: pointer;
}

.checkbox-item:last-child {
  margin-bottom: 40px;
}

.show-choosen {
  width: 260px;
  border: none;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 500;
  padding: 14px 0;
  border-radius: 3px;
  margin-top: 8px;
}

/* Sort */

.sort {
  display: flex;
}

.sort-title {
  margin-left: 0px;
  width: 400px;
}

.sort-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  min-width: 362;
  position: relative;
}

.sort-item {
  text-transform: uppercase;
  margin-right: 27px;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
}

.sort-item-link {
  color: var(--basic-black);
}

.sort-item:not(.sort-item--current):hover,
.sort-item:not(.sort-item--current):focus,
.btn-sort:hover,
.btn-sort:focus {
  opacity: 0.6;
}

.sort-item:not(.sort-item--current):active,
.btn-sort:active {
  opacity: 1;
}

.sort-item--current {
  opacity: 1;
}


.button-reverse-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  width: 40px;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-sort {
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  border: none;
  background-color: transparent;
  opacity: 0.3;
  cursor: pointer;
}

.down {
  background-image: url(../img/icon-down.svg);
}

.up {
  background-image: url(../img/icon-up.svg);
}


.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  margin-top: 47px;
  display: flex;
  flex-direction: column;
}

.catalog-item img {
  border: 1px solid var(--border-item);
  border-radius: 0 0 3px 3px;
}

.catalog-item::before {
  content: "";
  width: 360px;
  height: 40px;
  background-image: url(../img/browser.svg);
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  background-image: url(../img/browser-hover.svg);
}


.catalog-item:nth-child(n+3) {
  margin-top: 29px;
}

/* Modal */

.modal {
  width: 360px;
  background-color: var(--basic-grey);
  border-radius: 0 0 3px 3px;
  position: absolute;
  bottom: 0;
  z-index: -1;
  box-sizing: border-box;
  padding: 26px 60px 44px;
  text-align: center;
}

/* TODO добавить shadow при наведении */

.catalog-item:hover {
  box-shadow: var(--shadow-catalog-item);
}

.catalog-item:hover .modal,
.catalog-item:focus-within .modal {        
  z-index: 1;
}

.catalog-item:hover .browser-window,
.catalog-item:focus .browser-window {
  background-color: var(--window-rest);
  opacity: 1;
}

.modal-title:hover,
.modal-title:focus {
  color: var(--basic-red);
  cursor: pointer;
}

.modal-title:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.modal-title {
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  display: inline-block;
}

.modal-subtitle {
  font-size: 16px;
  line-height: 18px;
  color: var(--modal-subtitle);
  margin-top: 12px;
  margin-bottom: 32px;
}


.modal-button {
  display: block;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  width: 200px;
  text-align: center;
  border-radius: 3px;
  padding: 17px;
  line-height: 18px;
  border: 0;
  margin: 0 auto;
  margin-bottom: 0;
}

.pagination-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 55px;
  margin-bottom: 60px;
}

.pagination-link {
  display: block;
  color: var(--basic-black);
  line-height: 18px;
  font-weight: 500;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: var(--basic-grey);
  margin-right: 11px;
  padding-top: 17px;
}


.pagination-link--current {
  border: 3px solid var(--pagination-border);
  background-color: var(--basic-white);
  padding-top: 14px;
}

.pagination-link--next {
  width: 260px;
  text-transform: uppercase;
}

.btn--grey {
  background-color: var(--basic-grey);
}

.btn--grey:hover,
.btn--grey:focus {
  background-color: var(--basic-darker-grey);
}

.btn--grey:active {
  background-color: var(--basic-extra-gray);
  box-shadow: var(--click-shadow);
}


/* PopUp */

.popup {
  width: 960px;
  margin: 0 auto;
  min-height: 590px;
  filter: var(--popup-shadow);
  background-color: var(--basic-white);
  position: relative;
}


.close-popup {
  background-image: url(../img/close-cross.svg);
  background-color: transparent;
  border: none;
  position: absolute;
  width: 21px;
  height: 21px;
  right: 90px;
  top: 77px;
}

.close-popup:hover,
.close-popup:focus {
  background-image: url(../img/close-cross-hover.svg);
}

.close-popup:active {
  background-image: url(../img/close-cross-active.svg);
}

.popup-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 52.73px;
  margin: 0;
  padding: 0;
  margin-top: 62px;
  margin-left: 100px;
}

.sub-title-popup {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.enter-name {
  margin-right: 40px;
}


.enter {
  width: 341px;
  height: 45px;
  padding-left: 14px;
  padding-bottom: 0;
  padding-top: 0;
}

.write-letter {
  width: 741px;
  height: 101px;
  padding-left: 15px;
  padding-top: 13px;
}

.write-us-form {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin: 0 auto;
}
.input-date {
  display: block;
  margin-top: 23px;
  margin-bottom: 10px;
}

.enter-text-title {
  margin-top: -5px;
}

.button-send-form {
  color: var(--basic-white);
  text-transform: uppercase;
  line-height: 18px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  padding-left: 84px;
  padding-right: 83px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 32px;
}

.text-area {
  border: 2px solid var(--scale-color);
  border-radius: 2px;
  
}